<head>
	<html style="background-color: #303030;"><head>
	<link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Changa' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet'>
	<link type="text/css" rel="stylesheet" href="/client/style/style.css">
	
	<!--AUTH-->

<!--
SIGN IN AUTH URL
https://treatmetcalf.auth.us-east-2.amazoncognito.com/login?response_type=code&client_id=6knin86fqb0nltirs08s3t9kl&redirect_uri=https://rw.treatmetcalf.com/

REGISTER AUTH URL	
https://treatmetcalf.auth.us-east-2.amazoncognito.com/signup?response_type=code&client_id=6knin86fqb0nltirs08s3t9kl&redirect_uri=https://rw.treatmetcalf.com/
	-->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
	<script src="/client/js/amazon-cognito-auth.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script> 
	<script src="/client/js/amazon-cognito-identity.min.js"></script>   
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="1028026572877-som86lnjg647590thv3bs64ht6hu7lel.apps.googleusercontent.com">
	
	
	
</head>

<body style="margin: 0px;overflow-y: hidden;overflow-x: hidden;">
<div id="topBar"> 
    <div id="titleText" style="
    display: inline-block; line-height: 35px;">
	RW
	</div>
    <form id="loginForm">
        <input id="usernameText" type="text" value="Username" class="textBox" onclick="userNameClick()" onfocus="userNameClick()" style="display: none; color: #8c8c8c; margin:3px">
		<input id="passwordText" type="text" value="Password" class="textBox" onclick="passwordClick()" onfocus="passwordClick()" style="display: none; color: #8c8c8c;  margin:3px">
		<input id="JWToken" type="text" value="" class="textBox" style="display: none; color: #8c8c8c;  margin:3px;">
		<button id="logIn" style="display: none" onclick="window.location.href='https://treatmetcalf.auth.us-east-2.amazoncognito.com/login?response_type=code&client_id=6knin86fqb0nltirs08s3t9kl&redirect_uri=https://rw.treatmetcalf.com/'">Log In</button>
		<button id="createAccount" style="display: none" onclick="window.location.href='https://treatmetcalf.auth.us-east-2.amazoncognito.com/signup?response_type=code&client_id=6knin86fqb0nltirs08s3t9kl&redirect_uri=https://rw.treatmetcalf.com/'">Create Account</button>
		<button id="playNow" style="display: none" onclick="playNowClick()">Play Now!</button>
		<button id="localPlayNow" style="display: none" onclick="localPlayNowClick()">Local Login</button>

		<!--
		<button id="validateToken" onclick="ValidateToken()">Validate Token</button>
		<button id="testButton" onclick="getTokenFromUrlParameter()">Test Button</button>
		<div class="g-signin2" data-onsuccess="onSignIn"></div> -->
</form>
</div>
    
<div id="mainContent">
	<div id="sectionTitles">
		<div id="sectionTitle1" class="sectionTitle">Username</div>
		<div id="sectionTitle2" class="sectionTitle">Progress</div>
		<div id="sectionTitle3" class="sectionTitle">Customize</div>
	</div>


	<!--PAGE COLUMNS-->
	<div id="serverSelection" class="columnSection">
		<div id="statsTable">
			<table>
			  <tr>
				<th>Rank</th>
				<th>Username</th>
				<th>Rating</th>
				<th>Wins</th>
			  </tr>
			  <tr>
				<td>1</td>
				<td>testuser</td>
				<td>1000</td>
				<td>5</td>
			  </tr>
			</table>
		</div>
	</div>

	<div id="leaderboards" class="columnSection">
	</br>

	<div id="tablePrint" style="height: 600px;overflow-y: auto;overflow-x: hidden;">
		<table>
		  <tr>
			<th>Rank</th>
			<th>Username</th>
			<th>Rating</th>
			<th>Wins</th>
		  </tr>
		  <tr>
			<td>1</td>
			<td>testuser</td>
			<td>1000</td>
			<td>5</td>
		  </tr>
		</table>
	</div>

	</div>
	<div id="learnToPlay" class="columnSection">
	</br>
	CONTROLS:</br>
	Movement: WASD</br>
	Shoot: Arrow Keys</br>
	Dash: Space</br>
	</div>
</div>

<!-------CANVAS-------->
<div id="canvasDiv" style="display:none; margin: auto; width: 1100px; margin-top: 8px;">	
	<canvas id="ctx" width="1100" height="900" style="border:2px solid #000000;background-color: #131313;"></canvas>
	<!--<canvas id="ctx2" width="1100" height="900" style="border: 2px solid rgb(0, 0, 0);margin: -2px;position: absolute; top: 5px;"></canvas> -->

	<div id="chat-window" style="width: 400px; position:absolute; margin-top: -200px;">
		<div id="chat-text" style="overflow:hidden; width:400px; height:170px; color: white; 
		text-shadow: 1px 0px 1px #333, 1px 0px 1px #333, 0px 1px 1px #333, 0px -1px 1px #333, -1px -1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333, 1px 1px 0px #333;		
		padding-left: 5px;
		">
		<!---HARDER TEXT OUTLINE:text-shadow: -1px 0px 0 #333, 1px 0px 0 #333, 0px 1px 0 #333, 0px -1px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333; -->
		<!---SOFTER TEXT OUTLINE: text-shadow: 1px 0px 1px #333, 1px 0px 1px #333, 0px 1px 1px #333, 0px -1px 1px #333, -1px -1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333, 1px 1px 0px #333; -->
			<div></div>
		</div>
		<form id="chat-form" style="padding-left: 5px;">
			<input id="chat-input" type="text" maxlength="50" autocomplete="off" style="display:none; width:300px; background: rgba(255, 255, 255, 0.18);
			color: white; 
			text-shadow: 1px 0px 1px #444, 1px 0px 1px #444, 0px 1px 1px #444, 0px -1px 1px #444, -1px -1px 0px #444, 1px -1px 0px #444, -1px 1px 0px #444, 1px 1px 0px #444;
			">
		</form>
	</div> <!--End Chat Window -->

</div> <!--End Canvas -->

<div id="bottom"></div>

<div id="newDiv" style="margin: auto; width: 200px;">
	<!--<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>-->
	<script src="/client/js/socket.io-1.4.5.js"></script>
	<script src="/client/js/howler.core.js"></script>
	<script src="/client/js/code.js"></script>
	<script src="/client/js/cognito.js"></script>
</div>


</body></html>